# Activar el motor de reescritura
RewriteEngine On

# URLs amigables /
RewriteRule ^$ /index.html [L]

RewriteRule ^sobre-mi$ /src/sobremi.html [L]

RewriteRule ^entrena-conmigo$ /src/entrenaconmigo.html [L]

RewriteRule ^entrenamiento-personal$ /src/personal.html [L]
RewriteRule ^entrenamiento-alto-rendimiento$ /src/altorendimiento.html [L]
RewriteRule ^entrenamiento-de-formacion$ /src/formacion.html [L]

