/* Roboto */@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* Poppins */@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --fuente-base: "Poppins", sans-serif;
  --fondo: url("Img/fondo.jpg");
  --color-base: rgb(0,150,255);
}

body {
  font-family: var(--fuente-base);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: var(--fondo);
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

nav {
  margin: 1vw 5vw 0.2vw 5vw;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  height: 4vw;
  width: auto;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  margin-right: 30px;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.3vw;
  color: white;
}

nav ul li a:hover {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}



.dropdown-content {
  display: none;
  position: absolute;
  border: solid 1px white;
  border-radius: 20px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.presentacion img {
  height: auto;
  width: 100%;
  object-fit: cover;
  animation: la-verdadera-vuelta 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes la-verdadera-vuelta {
  0% {
    transform: rotate3d(-1, 1, 0, 80deg);
    opacity: 0;
  }
  100% {
    transform: rotate3d(1, 1, 0, 0deg);
    opacity: 1;
  }
}

/* Botones entrenamientos */
.entrenamientos {
  margin:5px 200px 20px 200px;
  height: 500px; /* Altura suficiente para permitir el desplazamiento */
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  opacity: 0;
  transition: opacity 2s ease;
}

.entrenamientos.show {
  opacity: 1;
}

.entrenamientos h2 {
  width: 100vw;
  font-size: 4vw;
  font-family: var(--fuente-script);
  margin-bottom: 0;
}

.entrenamientos p {
  margin: 0 10% ;
}

/* Animaciones y estilos de los botones */
button {
  --color: var(--color-base);
  font-family: inherit;
  display: inline-block;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid black;
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: black;
 }
 
 button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
 }
 
 button:hover {
  color: #fff;
 }
 
 button:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
 }
 
 button:hover:before {
  top: -30px;
  left: -30px;
 }
 
 button:active:before {
  background: #3a0ca3;
  transition: background 0s;
 }



/* Footer */
footer {
  text-align: center;
  padding: 20px 0;
  bottom: 0;
  width: 100%;
}

/* Smooth Scroll Animation */
html {
  scroll-behavior: smooth;
}
