.cards {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 20px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 50%; /* Cambiado para que la imagen ocupe la mitad del ancho de la tarjeta */
    height: auto;
    display: block;
}

.card .overlay {
    width: 50%; /* Cambiado para que el overlay ocupe la otra mitad del ancho de la tarjeta */
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover .overlay {
    opacity: 1;
}


/* Móviles y tablets */
@media (max-width: 1024px) {
    .card {
        width: 100%;
        flex-direction: column; /* Para que los elementos estén uno encima del otro */
    }
    
    .card img {
        order: -1;
        width: 100%; /* Cambiado para que la imagen ocupe todo el ancho */
    }

    .card .overlay {        
        width: auto;
        opacity: 1;
    }

    .card p {
        width: 100%;
    }
}